header {   
    @include transp-background();
    height: $height_header;
    width: 100vw;
    padding: 10px 20px;
    position: fixed;
        top: 0;
    z-index: 50;

    .wrap {
        display: flex;
            align-items: center;
            justify-content: space-between;
        height: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .site-logo {
        height: 100%;
        z-index: -1;

        img, svg {
            max-height: 100%;
        }
    }
}

body {
    &.home {
        header {
            background: transparent;
        }

        &.scrolled {
            header {
                @include transp-background();
                background: linear-gradient(rgba(255, 255, 255, 0.8), transparent);
            }
        }
    }
}

.menu {
    &.main {
        ul {

        }

        li {           
            a {
                color: $primary_dark_50;
                display: block;
                font: $font_headings;
                font-size: 1.5em;
                padding: 10px 20px 12px;
                text-decoration: none;

                &:active, &:hover, &:focus {
                    background: $primary_dark_50;
                    color: #fff;
                }
            }
        }
    }
}

.nav-main {
    .hamburger {
        border: none;
        height: 3.5em;
        width: 3.5em;
        padding: 0;
        text-align: center;

        &:active, &:hover, &:focus {
            span {
                color: #fff;
            }
        }

        .open {
            display: block;
            font-size: 1.5em;
        }
    
        .close {
            display: none;
            font-size: 1.8em;
        }
    }

    nav {
        display: none;
    }

    &.active {
        

        .hamburger {
            background: $primary_dark_50;
            
            span {
                color: #fff;
            }

            .open {
                display: none;
            }
        
            .close {
                display: block;
            }
        }

        nav {
            background: $primary_light_10;
            display: block;
            position: absolute;
                top: $height_header;
                left: 0;
            width: 100vw;

            ul {
                li {
                    border-top: 2px solid $primary_dark_50;
                    
                    &:last-child {
                        border-bottom: 2px solid $primary_dark_50;
                    }
                }
            }
        }
    }
}

.wrap {
    position: relative;
    z-index: 49;
}

.container {
    &.main {
        margin: 0 auto;
        padding: 0 10px;
        position: relative;
            margin-top: $height_header;
        max-width: $width_inner;

        &.home {
            margin-top: 0;
            margin-bottom: -19vh;
            z-index: 0;
        }
    }

    &.home-blocks {
        margin-left: -10px;
        position: relative;
            top: -18vh;
        overflow: hidden;
        width: 100vw;
    }
}


.image-container {
    overflow: hidden;
    
    img {
        height: auto;
            min-height: 100%;
            max-height: 100%;
        width: auto;
            min-width: 100%;
            max-width: 100%;
    }
}

.icons {
    &.social {
        ul {
            display: flex;
                flex-direction: column;
                justify-content: space-between;
        }

        i {
            font-size: 2em;
            height: auto;
            width: auto;
            margin: 0 0 5px;
        }
    }
}

footer {
    display: flex;
        flex-wrap: wrap;
    margin: 0 auto;
    max-width: $width_inner;
    position: relative;
    z-index: 50;

    nav.menu {
        width: 100%;
            max-width: 400px;

        ul {
            display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            font-size: 12px;
            padding: 30px 20px 20px;
            width: 100%;
        }

        &.social {
            ul {
                flex-direction: row;
            }
        }

        &.footer {
            i {
                height: 15px;
                margin: 5px;
                width: 15px;
            }
        }
    }

    .logo {
        display: flex;
        padding: 0 20px 20px;
        width: 100%;

        img {
            opacity: 0.5;
        }

        a {
            display: block;
            width: 60%;
                max-width: 200px;

            &:active, &:hover, &:focus {
                img {
                    opacity: 1
                }
            }
        }

        h3 {
            font-size: 0.8em;
            margin-left: 20px;
            width: 40%;
        }
    }

    .aimhigher {
        justify-content: flex-end;

        svg {
            .cls-1, .cls-2 {
                fill: $primary_light_75;
            }
        }

        a {
            &:active, &:hover, &:focus {
                svg {
                    .cls-1 {
                        fill: #1c75bc;
                    }

                    .cls-2 {
                        fill: #16a6b1;
                    }
                }
            }
        }
    }
}