footer {
    nav.menu {
        &.social {
            width: 40%;
        }

        &.footer {
            width: 60%;
        }
    }

    .logo {
        &.aimhigher {
            width: 40%;
        }
    }
}