.menu {
    &.main {
        ul {
            display: flex;
        }

        li {
            a {
                font-size: 1em;
                margin: 0 10px;
                padding: 10px 0 12px;

                &:active, &:hover, &:focus {
                    background: none;
                    border-bottom: 2px solid $primary_dark_50;
                    color: $primary_dark_50;
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.nav-main {
    .hamburger {
        display: none;
    }

    nav {
        display: block;
    }
}

footer {
    justify-content: space-between;

    nav.menu {
        &.footer {
            width: 40%;
        }
    }
}