header {
    .wrap {
        justify-content: flex-end;
    }

    .site-logo {
        position: absolute;
            top: 0;
            left: 0;
        height: $height_header * 2;
    }
}

.menu {
    &.main {
        li {
            a {
                font-size: 1.3em;
            }
        }
    }
}

body {
    &.scrolled {
        header {
            .site-logo {
                height: 100%;
            }
        }

        .content {
            padding-left: 0;   
        }
    }
}

.page-title {
    text-align: right;
}

.content {
    text-align: right;
    padding-left: 30vh;   
}