* {
    box-sizing: border-box;
    color: $neutral_light_90;
    font: $font_regular;
}

body {
    margin: 0;
    position: absolute;
        top: 0;
    overflow-x: hidden;
    width: 100vw;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}
  
::-webkit-scrollbar-thumb {
    background: $primary_light_25;
    background: rgba($primary, 0.2);

    &:hover {
        background: $primary_light_90;
        background: rgba($primary, 0.9);
    }
}

h1, h2, h3, h4, h5 {
    font: $font_headings;
    text-align: left;
}
  

h1 {
    color: $primary_dark_50;
    font-size: 2.5em;
    text-transform: uppercase;
}

h2 {
    color: $primary_dark_50;
    font-size: 2em;
}

h3 {
    color: $primary_dark_75;
    font-size: 1.8em;
}

h4 {
    color: $primary_dark_25;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}

h5 {
    color: $primary_dark_25;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

a {
    color: $primary_dark_90;
    text-decoration-skip-ink: auto;

    &:active, &:hover, &:focus {
        color: $secondary_dark_90;
    }
}

blockquote {
    border: none;
        border-right: 4px solid $secondary;
    color: $primary_dark_75;
    padding: 10px 10px 10px 5px;
    text-align: right;
}

ul {
    margin: 0.3em 0;
    padding-left: 40px;

    li {
        list-style-type: disc;
    }
}

ol {
    margin: 0.3em 0;

    li {
        line-height: 2em;
    }
}

hr {
    border-color: $primary_light_50;
}

img, svg {
    width: auto;
        max-width: 100%;
}

figcaption {
    border: none;
        border-left: 3px solid $secondary;
    color: $primary_dark_90;
    padding: 5px 5px 5px 10px;
    text-align: left;
}

nav {
    ul, li {
        list-style-type: none;
    }
    
    ul {
        margin: 0;
        padding: 0;
    }
}

.icons {
    i, svg {
        color: $primary_light_75;
        fill: $primary_light_75;
        height: 40px;
        margin: 20px;
        width: 40px;
    }
}

a {
    i, svg {
        &:hover {
            border: none;
            cursor: pointer;
            fill: $primary;
        }
    }
}

form {
    border: 1px solid $primary_light_50;
    padding: 20px;
    width: 100%;
        max-width: 400px;

    h5 {
        margin: 0;
    }

    input {
        background: $primary_light_10;
        border: 1px solid $primary_light_75;
        color: $primary_dark_25; 
        display: block;
        margin: 10px 0;
        padding: 5px 10px;
        width: 100%;

        &::placeholder {
            color: $primary_dark_25; 
        }
    }
}

button, .btn {
    background: none;
    border: 2px solid $primary_dark_50;
    color: $primary_dark_50;
    cursor: pointer;
    display: block;
    font-weight: 700;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;

        &:active, &:hover, &:focus {
            background: $primary_dark_50;
            color: #fff;
        }
}