.faqs {
	list-style: none;
	margin: 0;
	padding: 0;

	summary {
		cursor: pointer;
		font-weight: bold;
		padding: 10px;
	}

	.answer {
		padding: 10px 10px 10px 30px;

		@extend %p-edges;
	}

	details {
		border: 2px solid $primary_light_25;
		
		
	}

	li {
		&:not(:last-of-type) {
			details {
				border-bottom: none;
			}
		}
	}
}